*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.booknavbar{
    padding-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
.diverse{
    width: 100px;
    height: 35px;
}
.search{
    width: 35px;
    height: 35px;
}
.love{
    width: 20px;
    height: 15px;
}
.cart{
    width: 20px;
    height: 15px;
}
.account{
    width: 20px;
    height: 19px;
}
.book{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 120px;
}
.frame{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.booking{
    display: flex;
    padding-left: 150px;
    padding-top: 50px;
}
.booktext{
    padding-top: 200px;
}
.bookimg1{
    width: 350px;
}
.about{
    padding-left: 300px;
    padding-right: 300px;
}
.contact{
    margin-left: 400px;
    padding-right: 400px;
}
.parent{
    gap: 50px;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}
.payment{
    border: black 1px solid;
    background-color: white;
    height: 120px;
    width: 50%;
    text-align: center;
}
.delivery{
    border: black 1px solid;
    background-color: white;
    height: 120px;
    width: 50%;
    text-align: center;
}
.parent1{
    gap: 80px;
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
}
.review1{
    border: #f69cab 2px solid;
    background-color: white;
    height: 180px;
    width: 50%;
    padding-left: 20px;
    border-radius: 20px;
    padding-top: 20px;
    
}
.review2{
    border: #f69cab 2px solid;
    background-color: white;
    height: 180px;
    width: 50%;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
.parent2{
    gap: 80px;
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 40px;
}
.vendor{
    display: flex;
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: space-between;
}
.rate{
    height: 70px;
    width: 350px;
    border-radius: 20px;
    color: white;
    background-color: #f3687f;
    border: none;
    font-size: 25px;
}
.flag{
    height: 70px;
    width: 350px;
    border-radius: 20px;
    color: black;
    background-color: white;
    border: #f3687f 2px solid;
    font-size: 25px;
}
.romance2{
    padding-left: 150px;
    gap: 10px;
    padding-right: 170px;
    padding-top: 20px;
}
.card{
    border: none !important;
    box-shadow: none !important;
}
.card2{
    width: 80%;
    height: 270px;
}
.footer{
    padding-top: 100px;
}
.first{
    background-color: #1d1213;
}
.second{
    background-color: #1d1213;
    width: 100%;
    height: 100%;
    color: #c7c4c4;
    padding: 0px 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third{
    background-color: #1d1213;
    color: #c7c4c4;
    padding: 0px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.footer-line {
    background-color: #1e1414; 
    padding: 10px 0; 
    position: relative;
}

.footer-line::after {
    content: "";
    display: block;
    height: 2px; 
    background-color: #a09a9a; 
    width: 100%; 
}
