*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buyerpage{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 450px;
    background-color: white;
    align-items: center;
    margin-top: 50px;
    gap:8px;
}
.create{
    font-size: 27px;
}
.input{
    height: 50px;
    width: 300px;
    border-radius: 17px;
    border: 1px solid black;
}
.eye{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 3px;
}
.small{
    font-size: 1px;
}
.signup{
    width: 100%;
    height: 50px;
    border-radius: 17px;
    font-size: 30px;
    background-color: #f3687f;
    color: white;
    border: none;
    margin-top: 20px;
}
.footer{
    padding-top: 50px;
}
.bttn{
    width: 90px;
    background-color: #f3687f;
    border-radius: 10px;
    color: white;
    border: none;
    height: 30px;
}
.first{
    background-color: #1d1213;
}
.second{
    background-color: #1d1213;
    width: 100%;
    height: 100%;
    color: #c7c4c4;
    padding: 0px 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third{
    background-color: #1d1213;
    color: #c7c4c4;
    padding: 0px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.footer-line {
    background-color: #1e1414; 
    padding: 10px 0; 
    position: relative;
}

.footer-line::after {
    content: "";
    display: block;
    height: 2px; 
    background-color: #a09a9a; 
    width: 100%; 
}