*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
.booknavbar{
    padding-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
.diverse{
    width: 100px;
    height: 35px;
}
.search{
    width: 35px;
    height: 35px;
}
.love{
    width: 20px;
    height: 15px;
}
.cart{
    width: 20px;
    height: 15px;
}
.account{
    width: 20px;
    height: 19px;
}
.book{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 120px;
}
.frame{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.racheal{
    width: 30%;
}
.real{
    padding-left: 75px;
    padding-right: 120px;
    padding-top: 60px;
    display: flex;
    height: 500px;
}
.kong{
    width: 300px;
    height: 420px;
}
.genre{
    width: 70%;
}
p{
    font-size: 15px;
}
.text{
    padding-right: 200px;
}
.add{
    padding-left: 85px;
}
.bttn{
    width: 200px;
    border-radius: 15px;
    background-color: white;
}
.shopping{
    width: 300px;
    height: 55px;
    border-radius: 15px;
    border: red 1px solid;
    background-color: white;
    font-weight: bold;
    font-size: 25px;
}
.romance2{
    padding-left: 150px;
    gap: 10px;
    padding-right: 170px;
}
.card{
    border: none !important;
    box-shadow: none !important;
}
.card2{
    width: 80%;
    height: 270px;
}
.footer{
    padding-top: 100px;
}
.first{
    background-color: #1d1213;
}
.second{
    background-color: #1d1213;
    width: 100%;
    height: 100%;
    color: #c7c4c4;
    padding: 0px 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third{
    background-color: #1d1213;
    color: #c7c4c4;
    padding: 0px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.footer-line {
    background-color: #1e1414; 
    padding: 10px 0; 
    position: relative;
}

.footer-line::after {
    content: "";
    display: block;
    height: 2px; 
    background-color: #a09a9a; 
    width: 100%; 
}