*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.booknavbar{
    padding-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
.diverse{
    width: 100px;
    height: 35px;
}
.search{
    width: 35px;
    height: 35px;
}
.love{
    width: 20px;
    height: 15px;
}
.cart{
    width: 20px;
    height: 15px;
}
.account{
    width: 20px;
    height: 19px;
}
.book{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 120px;
}
.frame{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.buyerprofile{
    margin-top: 20px;
    height: 400px;
    display: flex;
    padding: 30px 400px;
    gap: 10px;
}
.profileinfo{
    padding-top: 70px;
}
.settings{
    display: flex;
    margin-left: 300px;
    gap: 20px;
}
.your-order{
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    height: 120px;
    width: 200px;
}
.customer{
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    height: 120px;
    width: 200px;
}
.manage{
    border-radius: 10px;
    border: #f9c5ce 1px solid;
    height: 120px;
    width: 220px;
}
p{
    font-size: 11px;
}
.logout{
    border-radius: 15px;
    border: #ff3f3f 2px solid;
    width: 200px;
    margin-top: 25px;
    color: #ff3f3f;
    background-color: white;
}
.romance2{
    padding-left: 150px;
    gap: 10px;
    padding-right: 170px;
    padding-top: 20px;
}
.card{
    border: none !important;
    box-shadow: none !important;
}
.card2{
    width: 80%;
    height: 270px;
}
.footer{
    padding-top: 100px;
}
.first{
    background-color: #1d1213;
}
.second{
    background-color: #1d1213;
    width: 100%;
    height: 100%;
    color: #c7c4c4;
    padding: 0px 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third{
    background-color: #1d1213;
    color: #c7c4c4;
    padding: 0px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.footer-line {
    background-color: #1e1414; 
    padding: 10px 0; 
    position: relative;
}

.footer-line::after {
    content: "";
    display: block;
    height: 2px; 
    background-color: #a09a9a; 
    width: 100%; 
}