*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buyerpage{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 500px;
    background-color: white;
    align-items: center;
    margin-top: 50px;
    gap:8px;
}
.create{
    font-size: 27px;
}
.input{
    height: 50px;
    width: 300px;
    border-radius: 17px;
    border: n
}
.signup{
    width: 100%;
    height: 50px;
    border-radius: 17px;
    font-size: 30px;
    background-color: #f3687f;
    color: white;
    border: none;
    margin-top: 20px;
}