*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
.booknavbar{
    padding-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
.diverse{
    width: 100px;
    height: 35px;
}
.search{
    width: 35px;
    height: 35px;
}
.love{
    width: 20px;
    height: 15px;
}
.cart{
    width: 20px;
    height: 15px;
}
.account{
    width: 20px;
    height: 19px;
}
.book{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 120px;
}
.frame{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.order{
    padding-left: 140px;
    padding-top: 40px;
}
.ada{
    padding-left: 80px;
    display: flex;
    padding-right: 80px;
    padding-top: 50px;
}
.thankyou{
    width: 60%;
    flex-direction: column;
    display: flex;
}
.yourorder{
    width: 40%;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
}
.order-message {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.check-icon {
  width: 35px;
  height: 35px;
  border: 3px solid #f06277;
  border-radius: 50%;
  color: #f06277;
}
.update{
    border: 2px solid #f5fbff;
    width: 70%;
}
.contact{
    border: 2px solid #f5fbff;
    width: 100%;
    margin-top: 10px;
}
.contact1{
    border: 2px solid #f5fbff;
    width: 100%;
}
.order-container {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: Arial, sans-serif;
  position: relative;
}

.order-icon i {
  font-size: 20px;
  color: #000;
}

.order-text {
  font-size: 16px;
  color: #333;
}

.order-badge {
  background-color: #f77b8a;
  color: #fff;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
}
img{
    width: 80px;
}
.shopping{
    width: 300px;
    height: 55px;
    border-radius: 15px;
    border: red 1px solid;
    background-color: white;
    font-weight: bold;
    font-size: 25px;
}
