*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    flex-direction: column;
}

.checkmark {
    width: 80px;
    height: 80px;
    border: 4px solid #f47b8a; 
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkmark::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 40px;
    border-right: 4px solid #f47b8a;
    border-bottom: 4px solid #f47b8a;
    transform: rotate(45deg);
    top: 15px;
}
